<div>
<div style="margin-left: 20px;display: flex;margin-bottom: 20px;">
  <div>
    <button mat-raised-button color="primary" type="button" matTooltip="Home"
      (click)="gs.navigateToUrl('product-dashboard')">Home</button>
  </div>
  <div style="width: 100%;text-align: center;">
    <button mat-raised-button color="primary" type="button" matTooltip="New Product">New Product</button>
  </div>
</div>
<div style="display: flex;justify-content: space-evenly;">

<form (ngSubmit)="fetchData()" #heroForm="ngForm">
  <div style="display: flex;margin-right: 295px;">
    <div style="margin-top: 18px;margin-right: 15px;">
      <p>Product Type</p>
    </div>
    <div class="field">
      <mat-form-field class="labelFont">
        <mat-select name="productType" [(ngModel)]="model.productType" #productType="ngModel" required (selectionChange)="filterProduct()">
          <mat-option *ngFor="let type of productTypeArray" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-error *ngIf="submited && productType?.errors?.required">
        Product Type is required
      </mat-error>
    </div>
  </div>
  <div style="display: flex;">
    <div style="margin-top: 18px;margin-right: 7px;">
      <p>Product Name</p>
    </div>
    <input type="text" list="code" [(ngModel)]="model.productName"  matInput [ngModelOptions]="{standalone: true}" autocomplete="off"  required  class="input_style" (change)="filterUin()">
    <datalist id="code" *ngIf="prodNameArray">
      <option *ngFor="let prodName of prodNameArray" [value]="prodName">{{prodName}}</option>
    </datalist>
   
  </div>
  <div style="display: flex;">
    <div style="margin-top: 18px;margin-right: 80px;">
      <p>UIN</p>
    </div>
    <input type="text" list="codes" [(ngModel)]="model.uin"  matInput [ngModelOptions]="{standalone: true}" autocomplete="off" required pattern="^[a-zA-Z0-9]+$" maxlength="12" class="input_style">
    <datalist id="codes" *ngIf="uinArray">
      <option *ngFor="let uin of uinArray" [value]="uin">{{uin}}</option>
    </datalist>
  </div>
  <div style="margin-left: 140px;">
    <button mat-raised-button color="primary" type="button" [disabled]="!heroForm.form.valid" (click)="fetchData()">Search</button>
  </div>
 
</form>

<ng-container>
  <!-- *ngIf="showHideForm" -->
<form [formGroup]="addProductForm2" style="margin-top: 10px;" *ngIf="showHideForm">
  <div>
    <div class="section">
      <!-- <input matInput  type="text" /> -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Product Code</mat-label>
        <input type="text" autocomplete="off" matInput placeholder="Product Code" formControlName="PRODUCT_CODE" maxlength="4">
        <mat-error *ngIf="addProductForm2?.controls['PRODUCT_CODE']?.invalid && addProductForm2?.controls['PRODUCT_CODE']?.touched && !addProductForm2?.controls['PRODUCT_CODE']?.errors?.pattern && !addProductForm2.controls['PRODUCT_CODE']?.hasError('maxlength')">
          Product code is required!
        </mat-error>
        <mat-error *ngIf="addProductForm2.controls['PRODUCT_CODE']?.errors?.pattern" >
          Enter valid product code!
        </mat-error>
        <mat-error *ngIf="addProductForm2.controls['PRODUCT_CODE']?.hasError('maxlength')">
          Only upto 4 characters allowed!
        </mat-error>
      </mat-form-field>
    </div>

    <div class="section">
      <mat-form-field appearance="fill">
        <input matInput [matDatepicker]="picker" placeholder="Date Of Launching" formControlName="DATE_OF_LAUNCH">
        <mat-error *ngIf="addProductForm2?.controls['DATE_OF_LAUNCH']?.invalid && addProductForm2?.controls['DATE_OF_LAUNCH']?.touched ">
          Lauch date is required!
        </mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="section">
      <!-- <input matInput  type="text" /> -->
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Series Number</mat-label>
        <input type="text" autocomplete="off" matInput placeholder="Series Number" formControlName="SERIES_NO" maxlength="2">
        <mat-error *ngIf="addProductForm2?.controls['SERIES_NO']?.invalid && addProductForm2?.controls['SERIES_NO']?.touched && !addProductForm2?.controls['SERIES_NO']?.errors?.pattern && !addProductForm2.controls['SERIES_NO']?.hasError('maxlength')">
          series number is required!
        </mat-error>
        <mat-error *ngIf="addProductForm2.controls['SERIES_NO']?.errors?.pattern && !addProductForm2.controls['SERIES_NO']?.hasError('maxlength')" >
          Enter valid series number!
        </mat-error>
        <mat-error *ngIf="addProductForm2.controls['SERIES_NO']?.hasError('maxlength')">
          Only upto upto 2 numbers allowed!
        </mat-error>
      </mat-form-field>
    </div>

    <!-- </form> -->

  </div>
</form>
</ng-container>


</div>

<ng-container>
  <!-- *ngIf="showHideForm" -->
<form [formGroup]="addProductForm" style="margin-top: 10px;" *ngIf="showHideForm">
 
  <div class="" style="overflow-x: scroll;">
    <div class="css-flex">
      <div class="col-span-1 css-action" style="margin-top: 10px;">
        <p>Action</p>
      </div>
      <div class="col-span-1 css-col" *ngFor="let item of headerArray" style="margin-top: 10px;">
        <p> {{item}}</p>
      </div>
    </div>
    <div formArrayName="data">
      <div class="css-flex" *ngFor="let data of getDataArray.controls; let i = index,let l=last" [formGroupName]="i">
        <ng-container>
          <div class="col-span-1 css-action">
            <mat-icon (click)="openDialogWithTemplateRef(deleteConfirmBox,'delete',i)" style="cursor: pointer;">delete</mat-icon>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" autocomplete="off" matInput  formControlName="PLAN_ID" maxlength="10">
              <!-- <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.invalid">
                Plan id is required!
              </mat-error> -->
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.errors?.pattern && !addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.hasError('maxlength')" >
                Enter valid plan id!
              </mat-error>
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.errors?.maxlength">
                Only upto 10 characters allowed!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
           
            <mat-form-field class="labelFont">
              <mat-select formControlName="DEPARTMENT">
                <mat-option *ngFor="let dept of department" [value]="dept">
                  {{dept}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['DEPARTMENT']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['DEPARTMENT']?.invalid">
                Department is required!
              </mat-error>
            </mat-form-field>
           
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" autocomplete="off" matInput  formControlName="MODULE" maxlength="100">
              <!-- <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['MODULE']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['MODULE']?.invalid && !addProductForm?.controls['data']?.controls[i]?.controls['MODULE']?.errors?.pattern && !addProductForm?.controls['data']?.controls[i]?.controls['MODULE']?.hasError('maxlength')">
                Module is required!
              </mat-error> -->
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['MODULE']?.errors?.maxlength">
                Only upto 100 characters allowed!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" autocomplete="off" matInput  formControlName="SUB_MODULE" maxlength="100">
              <!-- <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['SUB_MODULE']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['SUB_MODULE']?.invalid && !addProductForm?.controls['data']?.controls[i]?.controls['SUB_MODULE']?.errors?.pattern && !addProductForm?.controls['data']?.controls[i]?.controls['SUB_MODULE']?.errors?.maxlength">
                Sub Module is required!
              </mat-error> -->
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['SUB_MODULE']?.errors?.maxlength">
                Only upto 100 characters allowed!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker1" formControlName="MODULE_REQUIREMENT_DATE">
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['MODULE_REQUIREMENT_DATE']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['MODULE_REQUIREMENT_DATE']?.invalid">
                Module requirement date is required!
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="labelFont">
              <mat-select formControlName="MODULE_STATUS">
                <mat-option *ngFor="let module of moduleStatus" [value]="module">
                  {{module}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['MODULE_STATUS']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['MODULE_STATUS']?.invalid">
                Module status is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="labelFont">
              <mat-select formControlName="STAKEHOLDER_NAME">
                <mat-option *ngFor="let stake of stakeHolderName" [value]="stake">
                  {{stake}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['STAKEHOLDER_NAME']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['STAKEHOLDER_NAME']?.invalid">
                Stakeholder name is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field appearance="fill">
              <input matInput [matDatepicker]="picker2" formControlName="MODULE_ROLLED_OUT_DATE">
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['MODULE_ROLLED_OUT_DATE']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['MODULE_ROLLED_OUT_DATE']?.invalid">
                Module rollout date is required!
              </mat-error>
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="example-full-width" appearance="fill">
              <input type="text" autocomplete="off" matInput  formControlName="WHIZIBLE_ID" maxlength="10">
              <!-- <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['WHIZIBLE_ID']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['WHIZIBLE_ID']?.invalid && !addProductForm?.controls['data']?.controls[i]?.controls['WHIZIBLE_ID']?.errors?.pattern && !addProductForm?.controls['data']?.controls[i]?.controls['WHIZIBLE_ID']?.errors?.maxlength">
                Whizible id is required!
              </mat-error> -->
              <mat-error *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['WHIZIBLE_ID']?.errors?.maxlength">
                Only upto 10 characters allowed!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-span-1 css-col">
            <mat-form-field class="example-full-width" appearance="fill">
              <textarea matInput formControlName="REMARKS" ></textarea>
            </mat-form-field>
          </div>
        </ng-container>
      </div>
      <div>
        <mat-icon (click)="openDialogWithTemplateRef(deleteConfirmBox,'add')" style="cursor: pointer;">add_circle_outline</mat-icon>
      </div>

    </div>
  </div>
  <div style="text-align: end;">
    <button mat-raised-button color="primary" type="button" matTooltip="Submit"
      (click)="openDialogWithTemplateRef(confirmBox)">Submit</button>
  </div>
</form>
</ng-container>

<ng-template #confirmBox>
  <h1 mat-dialog-title>Sure ? </h1>
  <div mat-dialog-content>
    <p>You want to submit product ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="submit()">Ok</button>
    <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  </div>
</ng-template>

<ng-template #deleteConfirmBox>
  <h1 mat-dialog-title>Sure ? </h1>
  <div mat-dialog-content>
    <p>You want to {{alertType}} product ?</p>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="confirm()">Ok</button>
    <button mat-button cdkFocusInitial (click)="close()">Cancel</button>
  </div>
</ng-template>

<ng-container *ngIf="false">
  <ng-container *ngIf="showHideForm">
    <form [formGroup]="addProductForm">
      <div class="">
        <div>
          <table class="table table-striped table-bordered" style="margin: 10px;">
            <thead>
              <tr>
                <th>Product Code</th>
                <th>Date Of Launching</th>
                <th>Series Number</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input formControlName="PRODUCT_CODE" class="form-control" type="text" />
                  <span
                    *ngIf="addProductForm?.controls['PRODUCT_CODE']?.invalid && addProductForm?.controls['PRODUCT_CODE']?.touched && !addProductForm?.controls['PRODUCT_CODE']?.errors?.pattern && !addProductForm.controls['PRODUCT_CODE']?.hasError('maxlength')"
                    style="color: red;">
                    Enter product code
                  </span>
                  <span *ngIf="addProductForm.controls['PRODUCT_CODE']?.errors?.pattern" style="color: red;">
                    Enter valid product code
                  </span>
                  <span *ngIf="addProductForm.controls['PRODUCT_CODE']?.hasError('maxlength')" style="color: red;">
                    Only upto 4 characters allowed
                  </span>
                </td>
                <td>
                  <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker" formControlName="DATE_OF_LAUNCH">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </td>

                <td>
                  <input formControlName="SERIES_NO" class="form-control" type="text" />
                  <span
                    *ngIf="addProductForm?.controls['SERIES_NO']?.invalid && addProductForm?.controls['SERIES_NO']?.touched && !addProductForm?.controls['SERIES_NO']?.errors?.pattern && !addProductForm.controls['SERIES_NO']?.hasError('maxlength')"
                    style="color: red;">
                    Enter series number
                  </span>
                  <span
                    *ngIf="addProductForm.controls['SERIES_NO']?.errors?.pattern && !addProductForm.controls['SERIES_NO']?.hasError('maxlength')"
                    style="color: red;">
                    Enter valid series number
                  </span>
                  <span *ngIf="addProductForm.controls['SERIES_NO']?.hasError('maxlength')" style="color: red;">
                    Only upto 2 numbers allowed
                  </span>
                </td>

              </tr>
            </tbody>
          </table>
        </div>

        <div style="max-height: 300px; overflow-y: auto;overflow-x: auto;">

          <table class="table table-striped table-bordered" style="margin: 10px;">
            <thead>
              <tr>
                <th>Action</th>
                <th>Plan Id</th>
                <th>Department</th>
                <th>Module</th>
                <th>Sub Module</th>
                <th>Requirement Date</th>
                <th>Module Status</th>
                <th>StakeHolder Name</th>
                <th>Rollout Date</th>
                <th>Whizible Id</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody formArrayName="data">
              <tr *ngFor="let data of getDataArray.controls; let i = index,let l=last" [formGroupName]="i">

                <td title="Delete">
                  <!-- <i class="fa fa-trash fa-2x"></i> -->
                  <!-- <button mat-raised-button color="warn" (click)="deleteData(i)">Delete</button> -->
                  <mat-icon (click)="deleteData(i)" style="cursor: pointer;">delete</mat-icon>
                </td>

                <td>
                  <input formControlName="PLAN_ID" class="form-control" type="text" maxlength="10" />
                  <span
                    *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.touched && addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.invalid"
                    style="color: red;">
                    Enter plan id number
                  </span>
                  <span
                    *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.errors?.pattern && !addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.hasError('maxlength')"
                    style="color: red;">
                    Enter valid plan id
                  </span>
                  <span
                    *ngIf="addProductForm?.controls['data']?.controls[i]?.controls['PLAN_ID']?.hasError('maxlength')"
                    style="color: red;">
                    Only upto 10 characters allowed
                  </span>
                </td>

                <td>
                  <div class="field">
                    <mat-form-field class="labelFont">
                      <mat-select formControlName="DEPARTMENT">
                        <mat-option *ngFor="let dept of department" [value]="dept">
                          {{dept}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>

                <td>
                  <input formControlName="MODULE" class="form-control" type="text" />
                </td>

                <td>
                  <input formControlName="SUB_MODULE" class="form-control" type="text" />
                </td>

                <td>
                  <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker1" formControlName="MODULE_REQUIREMENT_DATE">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </mat-form-field>
                </td>

                <td>
                  <div class="field">
                    <mat-form-field class="labelFont">
                      <mat-select formControlName="MODULE_STATUS">
                        <mat-option *ngFor="let module of moduleStatus" [value]="module">
                          {{module}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>

                <td>
                  <div class="field">
                    <mat-form-field class="labelFont">
                      <mat-select formControlName="STAKEHOLDER_NAME">
                        <mat-option *ngFor="let stake of stakeHolderName" [value]="stake">
                          {{stake}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </td>

                <td>
                  <mat-form-field appearance="fill">
                    <input matInput [matDatepicker]="picker2" formControlName="MODULE_ROLLED_OUT_DATE">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                  </mat-form-field>
                </td>

                <td>
                  <input formControlName="WHIZIBLE_ID" class="form-control" type="text" />
                </td>

                <td>
                  <input formControlName="REMARKS" class="form-control" type="text" />
                </td>

              </tr>
              <tr>
                <td title="Add">
                  <mat-icon (click)="pushIntoData()" style="cursor: pointer;">add_circle_outline</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
    <div style="text-align: end;">
      <button mat-raised-button color="primary" type="button" matTooltip="Submit"
        (click)="openDialogWithTemplateRef(confirmBox)">Submit</button>
    </div>
  </ng-container>

</ng-container>
<div *ngIf="gs?.loader" style="position: absolute;top: 50%;left: 50%;transform: translate(10px, -50px);">
  <mat-spinner [diameter]="35" color="primary"></mat-spinner>
</div>
</div>
