.redirectPage {
    text-align: end;
    margin-right: 30px;
    margin-top: 5px;
   
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .row{
    padding-top: 14%;
    margin-left: 50px;
    align-items: center;
    padding-bottom: 21%;
  }
  .card1{
    margin-left: 125px;
    height: 150px;
    width: 170px;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
    border-radius: 15px;
    background-color: rgb(255, 154, 250);
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(159, 125, 190);;
  }
  .card1:hover {
    transform: scale(1.3);
 box-shadow: 0 10px 20px rgba(0,0,0,1), 0 4px 8px rgba(0,0,0,.8);
}
  .card2{
    margin-left: 125px;
    height: 150px;
    width: 170px;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
    border-radius: 15px;
    background-color: rgb(182, 225, 242);
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(159, 125, 190);;
  }
  .card2:hover {
    transform: scale(1.3);
 box-shadow: 0 10px 20px rgba(0,0,0,1), 0 4px 8px rgba(0,0,0,.8);
}
  .card3{
    margin-left: 125px;
    height: 150px;
    width: 170px;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
    border-radius: 15px;
    background-color: rgb(251, 241, 137);
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(159, 125, 190);;
  }
   p{
    font-size:x-large;
    text-align: center;
    font-weight: bold;
    margin-top: 46px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
  }
  // .card3 {
  //   --s: 170px;   /* the size of the image */
  //   --b: 1px;     /* the border thickness*/
  //   --g: 14px;    /* the gap */
  //   --c: #4ECDC4; /* the color */
  //   --a: 150px;
    
  //   width: var(--s);
  //   height: var(--a);
  //   aspect-ratio: 1;
  //   outline: calc(var(--s)/2) solid #0009;
  //   outline-offset: calc(var(--s)/-2);
  //   transition: .3s;
  // }
  .card3:hover {
    transform: scale(1.3);
 box-shadow: 0 10px 20px rgba(0,0,0,1), 0 4px 8px rgba(0,0,0,.8);
//  outline: var(--b) ;
//  outline: var(--a) ;
//   outline-offset: var(--g);
}
.backEle {
  display: inline-block;
  margin:11px 15px 0px 0px;
  position: fixed;
  right: 9px;
  width: 50px;
}

.backBtn {
  padding: 5px 18px;
  border: none;
  background: #3f51b5;
  border-radius: 6px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, 
      rgba(0, 0, 0, 0.12) 0px -12px 30px,
      rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, 
      rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.bgimage{
 background-image: url('../../assets/image/graph\ bg1.jpg'); 
 background-size: 100% 100%;
}