<div  style="margin-left: 20px;display: flex;margin-bottom: 20px;">
    <div>
      <button mat-raised-button color="primary" type="button" matTooltip="Home"
        (click)="gs.navigateToUrl('product-dashboard')">Home</button>
    </div>
    <div style="width: 100%;text-align: center;">
      <button mat-raised-button color="primary" type="button" matTooltip="MIS">MIS</button>
    </div>
  </div>
  
  <div>
      <div> 
          <div class="box-container" style="margin: 10px;display: flex;justify-content: space-between;">
              <div class="field">
                  <mat-form-field class="labelFont">
                    <mat-label >Select module status</mat-label>
                    <mat-select multiple [(ngModel)]="selectedStatus">
                      <mat-option *ngFor="let module of moduleStatus" [value]="module"  name="fieldName" ngDefaultControl>
                        {{module}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div *ngIf="gs?.loader">
                <mat-spinner [diameter]="35" color="primary"></mat-spinner>
              </div>
              <div >
                <button  mat-raised-button color="primary" type="button"  matTooltip="Submit" (click)="fetchData()">Submit</button>
            </div>
          </div>
  
          <div class="container">
            <div *ngIf="false">
              <table class="table table-striped table-bordered" style="margin: 10px;">
                <thead>
                  <tr>
                    <th>Product Type</th>
                     <th>UIN</th>
                    <th>Product Name</th>
                    <th>Product Code</th>
                    <th>Date Of Launching</th>
                    <th>Series Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of [1,1,1,1]">
                    <td>
                      <input  class="form-control"  type="text" />
                    </td>
                     <td>
                      <input  class="form-control"  type="text" />
                    </td>
                    <td>
                      <input  class="form-control"  type="text" />
                    </td>
                    <td>
                      <input  class="form-control"  type="text" />
                    </td>
                    <td>
                      <input  class="form-control"  type="text" />
                    </td>
                  
                    <td>
                      <input  class="form-control"  type="text" />
                    </td>
          
                  </tr>
                </tbody>
              </table>
            </div>
            
           <div >
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
  
              <!-- Position Column -->
              <ng-container matColumnDef="PRODUCT_TYPE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Type </th>
                <td mat-cell *matCellDef="let element"> {{element.PRODUCT_TYPE}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="UIN">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> UIN </th>
                <td mat-cell *matCellDef="let element"> {{element.UIN}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="PRODUCT_NAME">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Name </th>
                <td mat-cell *matCellDef="let element"> {{element.PRODUCT_NAME}} </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="PRODUCT_CODE">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Code </th>
                <td mat-cell *matCellDef="let element"> {{element.PRODUCT_CODE}} </td>
              </ng-container>
              <ng-container matColumnDef="DATE_OF_LAUNCH">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Date Of Launching </th>
                <td mat-cell *matCellDef="let element"> {{element.DATE_OF_LAUNCH}} </td>
              </ng-container>
              <ng-container matColumnDef="SERIES_NO">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Series Number </th>
                <td mat-cell *matCellDef="let element"> {{element.SERIES_NO}} </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
             
          
           </div>
          
          </div>
  
          <div style="text-align: end;margin:10px;">
              <button  mat-raised-button color="primary" type="button"  matTooltip="Submit" (click)="exportAsXLSX()">Export To Excel</button>
          </div>
      </div>
  </div>