<mat-expansion-panel expanded="true" hideToggle="true" disabled="true">
  <mat-expansion-panel-header style="padding-bottom: 10px;">
    <mat-panel-title style="font-weight: 600;color: #3f51b5;font-size: 23px;">
      Change Password
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="resetPasswordForm" (keyup.enter)="submit()">  
    
    <div class="field">
      <mat-form-field class="labelFont">
        <input matInput appBlockCopyPaste type="password" formControlName="newPassword" name="newPassword"
          placeholder="Enter New Password" required>
      </mat-form-field>
	  <span>
	  </span>
    </div>
    <div class="field">
      <mat-form-field class="labelFont">
        <input matInput appBlockCopyPaste type="password" name="confirmPassword" formControlName="confirmPassword" placeholder="Confirm Password" required>
      </mat-form-field>
    </div>
	<div *ngIf="!valid"  style="margin-bottom: 20px; color: red;">
		{{errorMessage}}
	</div>
  </form>
  <div class="button">
    <button style="margin-right: 10px;" [disabled]="!canSubmit()" (click)="resetPassword()" mat-raised-button color="primary">Change Password
    </button>
    <button (click)="clear()" mat-raised-button color="primary">Clear
    </button>
  </div>
<!--  <mat-action-row>
    <div>
      <button mat-button color="primary" (click)="openDialogWithTemplateRef(forgotPassword)">Forgot Password?</button>
    </div>
  </mat-action-row> -->
</mat-expansion-panel>



<div *ngIf="displayMessage" class="my-overlay" style="padding: 30%; padding-top: 50px;padding-bottom: 0;">
  <div class="customAlert"
          [ngClass]="(isError==true)?'errorbgcolor':'messagebgcolor'"
           style="
              height: 190px;
              border: groove;
              box-shadow: 5px 10px #888888;width: 500px;">
      <div class="messageheader" style="padding: 30px;font-weight: 500;font-size: 25px;padding-bottom: 15px;
                                           background: #3f51b5;color: white;
                                           padding-top: 10px;margin-bottom: 15px">
          <!-- Information Message :  -->
          {{ messageType }}
      </div>
      <div class="messagebody" style="text-align: center;font-weight: 500;font-size: 20px;">
          <!-- No Data Available -->
          {{ messageDetails }}
      </div>
  
      <div style="text-align: right;margin-top: 30px;padding-right: 30px;">
          <button style="width: 20%;height: 30px;margin-right: 10px;" (click)="showAlert('OK')">OK</button>
      </div>
  
  </div>
</div>
