<div *ngIf="!showOverlay">

    <div style="background-color: #3f51b5;">
        <mat-toolbar style="display: flex;flex-direction: row;">
            
            <mat-toolbar-row style="border: 1px solid #f4ebf4; margin:10px; height: 55px;">
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="payoutList2" class="example-icon"
                        aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span> VALUATION DATA </span>
                    <mat-menu #payoutList2="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item [matMenuTriggerFor]="Unit_Inconsistency"
                                title="Units Inconsistency">Units Inconsistency</button>
                            <!-- <button mat-menu-item (click)="menuenter('STATIC_FIELDS', 'Static fields',0)"
                                title="Static fields"> Static fields
                            </button> -->

                            <button mat-menu-item [matMenuTriggerFor]="static_feild" title="Static fields"> Static
                                fields</button>
                            <!-- <button mat-menu-item  (click)="menuenter('static_feild',' static feild',0)"
                                title="Static fields"> Static fields</button> -->

                            <button mat-menu-item [matMenuTriggerFor]="CRITICAL_FIELDS" title="Critical fields">
                                Critical fields </button>

                            <!-- <button mat-menu-item (click)="menuenter('CRITICAL_FIELDS',' Critical fields',0)"
                                title="Critical fields">
                                Critical fields </button> -->



                            <button mat-menu-item [matMenuTriggerFor]="BOUNDARY_CONDITION" title="Boundary Condition">
                                Boundary Condition </button>

                            <!-- <button mat-menu-item (click)="menuenter('BOUNDARY_CONDITION','Boundary Condition ',0)"
                                title="Boundary Condition">
                                Boundary Condition </button> -->


                            <button mat-menu-item [matMenuTriggerFor]="PPA_CALCULATION" title="PPA Calculation">
                                PPA Calculation </button>

                            <!-- <button mat-menu-item (click)="menuenter('PPA_CALCULATION','PPA Calculation',0)"
                                title="PPA Calculation">
                                PPA Calculation </button> -->

                            <button mat-menu-item
                                [matMenuTriggerFor]="CORRECTNESS_OF_INCREASING_AND_DECREASING_SUM_ASSURED_BENEFIT_VALUATION"
                                title="CORRECTNESS_OF_INCREASING_AND_DECREASING_SUM_ASSURED_BENEFIT_VALUATION">CORRECTNESS
                                OF INCREASING AND DECREASING SUM ASSURED BENEFIT</button>

                            <button mat-menu-item [matMenuTriggerFor]="LTR_PROCESS_STATUS_CHANGE"
                                title="LTR_PROCESS_STATUS_CHANGE">
                                LTR PROCESS STATUS CHANGE </button>

                            <!-- <button mat-menu-item (click)="menuenter('DUPLICATE_ENTRIES','Duplicate Entries',0)"
                                title="Duplicate Entries">
                                Duplicate Entries </button> -->

                            <button mat-menu-item [matMenuTriggerFor]="DUPLICATE_ENTRIES"
                                title="Duplicate Entries">Duplicate Entries
                            </button>

                            <!-- <button mat-menu-item (click)="menuenter('RIDER_INCONSISTENCY','Rider Inconsistency',0)"
                                title="Rider Inconsistencys">
                                Rider Inconsistency </button> -->

                            <button mat-menu-item [matMenuTriggerFor]="RIDER_INCONSISTENCY" title="Rider Inconsistency">
                                Rider Inconsistency </button>

                            <button mat-menu-item
                                (click)="menuenteri('DOD_PRESENT_BUT_STATUS_NOT_DEATH','DOD Present But Status Not Death',0)"
                                title="DOD Present But Status Not Death">
                                DOD Present But Status Not Death </button>



                        </ng-template>
                    </mat-menu>

                    <mat-menu #DUPLICATE_ENTRIES="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','ULIP',1)" title="ULIP">
                                ULIP</button>

                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','NON_ULIP',2)"
                                title="NON_ULIP">NON_ULIP</button>

                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','1M',3)" title="1M">1M
                            </button>


                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','1E',4)" title="1E">1E
                            </button>

                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','56',5)" title="56">56
                            </button>

                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','36',6)" title="36">36
                            </button>

                            <button mat-menu-item (click)="menuenteri('DUPLICATE_ENTRIES','Annuity',7)"
                                title="Annuity">Annuity </button>
                        </ng-template>
                    </mat-menu>

                    <mat-menu #RIDER_INCONSISTENCY="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('RIDER_INCONSISTENCY','ULIP',1)" title="ULIP">
                                ULIP</button>

                            <button mat-menu-item (click)="menuenteri('RIDER_INCONSISTENCY','NON_ULIP',2)"
                                title="NON_ULIP">NON_ULIP</button>


                        </ng-template>
                    </mat-menu>

                    <mat-menu #LTR_PROCESS_STATUS_CHANGE="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('LTR_PROCESS_STATUS_CHANGE','ULIP-18,19,21',1)"
                                title="ULIP-18,19,21"> ULIP-18,19,21
                            </button>

                        </ng-template>
                    </mat-menu>

                    <mat-menu #PPA_CALCULATION="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('PPA_CALCULATION','1M',1)" title="1M"> 1M</button>

                            <button mat-menu-item (click)="menuenteri('PPA_CALCULATION','56',2)" title="56">56</button>

                            <button mat-menu-item (click)="menuenteri('PPA_CALCULATION','36',1)" title="36"> 36</button>

                            <button mat-menu-item (click)="menuenteri('PPA_CALCULATION','7',2)" title="7">7</button>


                        </ng-template>
                    </mat-menu>

                    <mat-menu #BOUNDARY_CONDITION="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('BOUNDARY_CONDITION','ULIP',1)" title="ULIP">
                                ULIP</button>

                            <button mat-menu-item (click)="menuenteri('BOUNDARY_CONDITION','NON_ULIP',2)"
                                title="NON_ULIP">NON_ULIP</button>


                        </ng-template>
                    </mat-menu>


                    <mat-menu #CRITICAL_FIELDS="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('CRITICAL_FIELDS','ULIP',1)" title="ULIP">
                                ULIP</button>

                            <button mat-menu-item (click)="menuenteri('CRITICAL_FIELDS','NON_ULIP',2)"
                                title="NON_ULIP">NON_ULIP</button>

                            <button mat-menu-item (click)="menuenteri('CRITICAL_FIELDS','1M',3)" title="1M">1M </button>


                            <button mat-menu-item (click)="menuenteri('CRITICAL_FIELDS','1E',4)" title="1E">1E </button>

                            <button mat-menu-item (click)="menuenteri('CRITICAL_FIELDS','56',5)" title="56">56 </button>

                        </ng-template>
                    </mat-menu>

                    <mat-menu #static_feild="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="menuenteri('STATIC_FIELDS','ULIP',1)" title="ULIP">
                                ULIP</button>

                            <button mat-menu-item (click)="menuenteri('STATIC_FIELDS','NON_ULIP',2)"
                                title="NON_ULIP">NON_ULIP</button>

                            <button mat-menu-item (click)="menuenteri('STATIC_FIELDS','1M',3)" title="1M">1M </button>


                            <button mat-menu-item (click)="menuenteri('STATIC_FIELDS','1E',4)" title="1E">1E </button>

                            <button mat-menu-item (click)="menuenteri('STATIC_FIELDS','56',5)" title="56">56 </button>

                            <button mat-menu-item (click)="menuenteri('STATIC_FIELDS','Annuity',6)"
                                title="Annuity">Annuity </button>
                        </ng-template>
                    </mat-menu>

                    <mat-menu #CORRECTNESS_OF_INCREASING_AND_DECREASING_SUM_ASSURED_BENEFIT_VALUATION="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item
                                (click)="menuenteri('CORRECTNESS_OF_INCREASING_AND_DECREASING_SUM_ASSURED_BENEFIT_VALUATION','correctness of increasing and decreasing sum assured benefit valuation - INFORCE_INDIGO',1)"
                                title="INFORCE_INDIGO">INFORCE_INDIGO</button>
                            <button mat-menu-item
                                (click)="menuenteri('CORRECTNESS_OF_INCREASING_AND_DECREASING_SUM_ASSURED_BENEFIT_VALUATION','correctness of increasing and decreasing sum assured benefit valuation - PAID-UP_INDIGO',2)"
                                title="PAID-UP_INDIGO">PAID-UP_INDIGO</button>
                            <button mat-menu-item
                                (click)="menuenteri('CORRECTNESS_OF_INCREASING_AND_DECREASING_SUM_ASSURED_BENEFIT_VALUATION','correctness of increasing and decreasing sum assured benefit valuation - ULIP_INDIGO',3)"
                                title="ULIP_INDIGO">ULIP_INDIGO</button>
                        </ng-template>
                    </mat-menu>
                    <mat-menu #Unit_Inconsistency="matMenu">
                        <ng-template matMenuContent>
                            <!-- <button mat-menu-item
                        (click)="menuenter('DISCONTINUANCE_CHARGES','Discontinuance Charges - Ulip',1)">Ulip</button> -->

                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS PRESENT IN PENDING STATUS', 1 )"
                                title=" Units Present in Pending status">
                                Units Present in Pending status</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS PRESENT IN EXIT STATUS', 2 )"
                                title="Units Present in Exit status">Units Present in Exit status</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','NEGATIVE UNITS PRESENT',3 )"
                                title="Negative Units Present">Negative Units Present</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS EQUAL TO ZERO FOR INFORCE POLICIES', 4)"
                                title="Units equal to zero for inforce policies">Units equal to zero for inforce
                                policies</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS PRESENT IN DISCO FUNDS_ULIP', 5)"
                                title="Units present in disco funds_ULIP">Units present in disco funds_ULIP</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS PRESENT IN REGULAR FUNDS_ULIP', 6)"
                                title="Units present in regular funds_ULIP">Units present in regular funds_ULIP</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS PRESENT IN DISCO FUNDS_1M', 7)"
                                title="Units present in regular funds_1M">Units present in disco funds_1M</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS PRESENT IN REGULAR FUNDS_1M', 8)"
                                title="Units present in regular funds_1M">Units present in regular funds_1M</button>
                            <!-- <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','UNITS EQUAL TO ZERO IN INFORCE POLICES', 5)" title="Units equal to zero in Inforce polices">Units equal to zero in Inforce polices</button>
                            <button mat-menu-item
                                (click)="menuenteri('UNITS_INCONSISTENCY','1M UNITS PRESENT IN DISCO & REGULAR FUNDS', 6 )" title="1M_Units present in disco & regular funds">1M_Units present in disco & regular funds</button> -->
                        </ng-template>
                    </mat-menu>
                </div>
            </mat-toolbar-row>

           
            <!-- <mat-toolbar-row style="border: 1px solid #f4ebf4; margin:10px; height: 55px;">
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="payoutList4" class="example-icon"
                        aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span> REPORT TRACKER</span>
                    <mat-menu #payoutList4="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item
                                (click)="Dashboardtable('Daily_report_tracker','Daily report tracker', 0)">
                                Daily Report Tracker </button>
                            <button mat-menu-item
                                (click)="menuentertable(' Weekly_report_tracker',' Weekly report tracker', 0)">
                                Weekly Report Tracker </button>
                            <button mat-menu-item
                                (click)="menuentertable('Monthly_report_tracker','Monthly report tracker', 0)">
                                Monthly Report Tracker </button>
                        </ng-template>
                    </mat-menu>
                </div>
            </mat-toolbar-row> -->

            <!-- Mis Dashboard -->

            <!-- <mat-toolbar-row style="border: 1px solid #f4ebf4; margin:10px; height: 55px;">
                <div>
                    <button mat-icon-button [matMenuTriggerFor]="payoutList5" class="example-icon"
                        aria-label="Example icon-button with menu icon">
                        <mat-icon>menu</mat-icon>
                    </button>
                    <span> MIS</span>
                    <mat-menu #payoutList5="matMenu">
                        <ng-template matMenuContent>
                            <button mat-menu-item (click)="showMISWindow()" title="MIS Dashboard">MIS Dashboard</button>

                        </ng-template>
                    </mat-menu>
                </div>
            </mat-toolbar-row> -->

        </mat-toolbar>

    </div>
</div>
<div class="backEle"><button class="backBtn" (click)="backPage()"><i class="fa-solid fa-arrow-left"></i></button></div>