.demo-table {
    width: 100%;
  }
  
  .mat-column-demo-position {
    width: 32px;
    border-right: 1px solid currentColor;
    padding-right: 24px;
    text-align: center;
  }
  
  .mat-column-demo-name {
    padding-left: 16px;
    font-size: 20px;
  }
  
  .mat-column-demo-weight {
    font-style: italic;
  }
  
  .mat-column-demo-symbol {
    width: 32px;
    text-align: center;
    font-weight: bold;
  }
  .errorbgcolor {
    background-color: #f1f18a;
  }
  .messagebgcolor {
    background-color: white;
  }
  
  //loader

  #loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
      
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .spinner-border {
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 1;
        width: 150px;
        height: 150px;
        margin: -75px 0 0 -75px;
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        animation: spin 2s linear infinite;
    }

    .my-overlay i.fa.fa-spinner.fa-spin, .spinner-big {
      font-size: 100px !important;
  }
  
  .my-overlay1 {
      left: 0 !important;
      top: 0 !important;
      z-index: 10000 !important;
      width: 100% !important;
      height: 100% !important;
      position: fixed !important;
      background-color: rgba(0,0,0,0.9) !important;
      cursor: pointer !important;
      visibility: visible !important;
      transition: visibility 0s, opacity 0.4s linear !important;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: wait !important;
  }
  

  
  