/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  color: white;
 }

.width-30 {
  width: 80% !important;
// background-image: url('../../assets/3.jpeg');

  //  background-image: url('../../assets/sbi logo.png');

}
.align-right-center-center{
  text-align: right;
  align-items: center;
  align-content: center;
}
.mat-buttons{
  margin: 0 8px !important;
}

button.submit {
  font-size: large!important;
  width: 150px!important;
  height: auto!important;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
}

a {
  cursor: pointer;
}

.box-container {
  border: solid 1px #ccc;
  background: white;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  padding: 15px 15px 15px 15px;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  padding-top: 10px;
}
.material-icons{
  font-family: 'Material Icons' !important;
}
