.redirectPage {
  text-align: end;
  margin-right: 30px;
  margin-top: 5px;

}


@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  user-select: none;
}

.row {
  border-radius: 12px;
  filter: drop-shadow(0 5px 10px 0 #ffffff);
  width: 100%;
  // height: 2px;
  // background-color: #ffffff;
  padding: 20px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  color: blanchedalmond;
  // transition: 0.6s ease-in;
  background-color: rgba(8, 8, 8, 0.5);
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.2s;
}

.row::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -15px;
  right: -15px;
  background: #a393ebd8;
  height: 220px;
  width: 25px;
  border-radius: 32px;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition: transform 0.1s ease-out;
}

.row:hover::before {
  transition-delay: .1s;

  transform: scale(100);
}

.row:hover {
  color: #ffffff;

}

.row p {
  padding: 10px 0;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 0.2;
}

.progress {
  width: 35%;
  height: 26px;
  margin-left: 31%;
  margin-top: -1%;
}

.head {
  // border: 1px solid black;
  padding: 0% 6% 0% 0%;
  margin: 0% 1% 0% -89%;
  // width: 30%;
  // height: 76%;
  // text-align: center;
  color: #eeebf1;
}

// th{
//  border: 1px solid rgb(236, 233, 233);
//  padding-left: 21%;
// }
.Misview {
  // background-color: peachpuff;
  background-image: url('../../assets/image/graph\ bg.jpg');
  background-size: 100% 100%;
  padding: 5%
}

.graph1 {
  background-color: green;
  padding: 3%;
  border: 1px solid green;
}

.graph1:hover{
  background-color: rgb(139, 250, 139);

}

// .graph1:hover {
//   background-color:#002ead;
//   transition: 0.7s;
// }