<div style="background-color: aliceblue; height: fit-content; background-size: 100% 100%;">
    <div class="redirectPage">
        <button mat-raised-button color="primary" (click)="  redirectPage() " style="margin-top: 7px;">
            Redirect to Module
        </button>
    </div>
<div>
    <div class="row" style="display: flex; width: 100%; margin-top: 10px; text-align: center; ">
        <div class="col">
            <h4 style="color: blue;">MODULE : {{module}}</h4><br>
            <h4>TOTAL :{{TOTAL}}</h4>
            <h4>PASS :{{PASS}}</h4>
            <h4>FAIL :{{FAIL}}</h4>
        </div>
        <div class="col">
            <div style="margin-top: 5px;">
                <canvas id="barChartData"></canvas>
                <p>{{module}}</p>
            </div>

        </div>
        <div class="col">
            <div style="height: 190px;">
                <canvas id="pie-chart"></canvas>
                <p>{{module}}</p>
            </div>
        </div>
    </div>
    <div class="row" style="display: flex; width: 100%; margin-top: 10px; text-align: center; ">
        <div class="col-5">
            <div >
                <canvas id="myChart"></canvas>
                <p>{{module}}</p>
            </div>
        </div>
        <div class="col-5">
            <div>
                <!-- <canvas id="myChart"></canvas>
                <p>{{module}}</p> -->
                Loading...
            </div>
        </div>
    </div>
    
</div>


</div>