.redirectPage {
    // text-align: end;
    // margin-right: 30px;
    display: flex;
    height: 50px;
    
}

.mar{
  margin-left: 20px;
  
}

.col{
    margin-left: 25px;
    height: 215px;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
    border-radius: 10px;
    background-color: #fff;
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(159, 125, 190);
  }

  .col-5 {
    margin-top: 10px;
    margin-left: 25px;
    height: 240px;
    width: 608px;
    box-shadow: rgba(0,0,0,0.5) 0px 5px 15px;
    border-radius: 10px;
    background-color: #fff;
    transition: .1s transform cubic-bezier(.155,1.105,.295,1.12),.1s box-shadow,.1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    border-width: 2px;
    border-color: rgb(159, 125, 190);
  }

  select{
 margin-top: 7px;
    padding: 7px 10px;
    border-radius:5px;
    background-color: rgb(65, 65, 209);
    color: white;
  }
  .selectOption{
    background-color: #fff;
    color: black;
  }
  
  select:focus{
    outline:none;
  }