<div style="background-color: aliceblue; height: fit-content; background-size: 100%;">
    <div>

        <div class="redirectPage">
            <!-- <div class="card mayur">
                <mat-form-field appDateFormat>
                    <mat-label style="color: black;">Date Selection</mat-label>
                    <input matInput [matDatepicker]="dp2" [max]="today" (dateChange)="dateSelection( $event)" />
                    <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                    <mat-datepicker #dp2 startView="month"></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="card mayur" >
                <mat-form-field appDateFormat>
                    <mat-label style="color: black;">Month Selection</mat-label>
                    <input matInput [matDatepicker]="year"  (dateChange)="monthSelection( $event)" />
                    <mat-datepicker-toggle matSuffix [for]="year"></mat-datepicker-toggle>
                    <mat-datepicker #year startView="year"></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div class="card">
                <select name="language" id="language" (change)="handleChange($event.target.selectedIndex)" >
                    <option  *ngFor="let item of textTypes" [value]="item.key">{{item.value}}</option>
                  </select>
            </div>

            <div class="card">
                <select name="language" id="language" (change)="passFailActivity($event.target.selectedIndex)">
                    <option  *ngFor="let item of textType" [value]="item.key">{{item.value}}</option>
                  </select>
            </div> -->


            <!-- dropdown-menu.component.html -->

            <form class="form">
                <mat-form-field class="width">
                    <input matInput placeholder="Product Code" aria-label="Product Code" [matAutocomplete]="auto"
                        [formControl]="countryCtrl" />
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let country of filteredCountry | async" [value]="country.name">
                            <span>{{country.name}}</span>
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form>




            <!-- <form class="example-form">
                <mat-form-field class="example-full-width">
                    <input type="text" placeholder="Pick one" aria-label="Number" matInput [formControl]="myControl"
                        [matAutocomplete]="auto" [(ngModel)]="searchText">
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of options | mis:searchText" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </form> -->




            <div style="margin-left: 45px;">
                <button mat-raised-button color="primary" (click)="  redirectPage() " style="margin-top: 7px;">
                    Redirect to Module
                </button>
            </div>
        </div>

        <div>
            <div class="row" style="display: flex; width: 100%; margin-top: 5px; text-align: center; ">
                <div class="col">
                    <h4 style="margin-top: 40px; display: flex;"> ModuleName : <span
                            style="color: blue;">{{module}}</span></h4>
                    <div style="text-align: center;">
                        <h5>Total :{{TOTAL}}</h5>
                        <h5>Pass :{{PASS}}</h5>
                        <h5> Fail :{{FAIL}}</h5>
                    </div>

                </div>
                <div class="col">
                    <div style="margin-top: 5px;">
                        <canvas id="barChartData"></canvas>
                        <p>{{module}}</p>
                    </div>

                </div>
                <div class="col">
                    <div style="height: 190px;">
                        <canvas id="pie-chart"></canvas>
                        <p>{{module}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-5">
                <canvas id="myChart"></canvas>
            </div>
            <div class="col-5">
                <canvas id="chart"></canvas>
            </div>

        </div>

    </div>