<div style="background-color: aliceblue; height: fit-content; background-size: 100% 100%;">
    <div class="redirectPage">
        <button mat-raised-button color="primary" (click)="  redirectPage() " style="margin-top: 7px;">
            Redirect to Module
        </button>
    </div>

    <div class="row" style="display: flex; width: 100%;">
        <div class="col">
            <h4>TOTAL :{{TOTAL}}</h4>
            <h4>PASS :{{PASS}}</h4>
            <h4>FAIL :{{FAIL}}</h4>
        </div>
        <div class="col">
            <canvas id="barChartData"></canvas>
        </div>
        <div class="col">
            <canvas id="pie-chart"></canvas>
        </div>
    </div>

</div>